<h1>Todo Lists</h1>

<ul>
  <% @lists.each do |list| %>
    <li> <a href="/lists/<%= list.id %>"><%= list.title %></a></li>
    <form method="POST"
          action="/lists/<%= list.id %>/delete">
          <input id="hidden"
                 type="hidden"
                 name="_method"
                 value="DELETE">
          <input type="submit"
                 value="Delete">
          <input type="submit"
                 form="edit"
                 value="Edit">
    </form>
    <form id="edit" method="GET" action="/lists/<%= list.id %>/edit">
    </form>

  <% end %>
</ul>
