<h1>Create New Todo List</h1>

<form action="/lists" method="POST">
  <label for="title">List Name:</label>
  <input type="text"
         name="title"><br>
  <input type="submit"
         value="add list">
</form>
