<h1><%= @list.title %></h1>
<% if !@list.tasks.empty? %>
  <h3>To Do:</h3>

  <ul>
    <% @list.tasks.each do |task| %>
      <li><%= task.name %> - complete: <%= task.complete %></li>
    <% end %>
  </ul>
<% end %>

<form action="/lists/<%= @list.id %>/tasks"  method="POST">
<input type="text" name="name" placeholder="add task">
  <input type="submit" value="Add Task">
</form>
