<h1>All Tasks</h1>

<ul>
  <% @tasks.each.with_index(1) do |task, index| %>
    <li>
      (<%= index %>)
      <%= task.name %>
      <a href="/lists/<%= task.list_id %>"><small>[<%= task.list.title %>]</small></a>
    </li>
  <% end %>
</ul>
