<h1>Login to Daily ToDo!</h1>
<form method="post" action="/login">
  <input type="text" name="username" placeholder="Username:">
  <input type="password" name="password" placeholder="Password:">

  <input type="submit" value="login">
</form>
